body {
    background-color:black;
    color: white;
    overflow: hidden;
}

#header {
    background-color: #333;
    color: white;
    padding: 10px;
}

#home-button {
    list-style: none;
    margin-right: 20px;
    display: flex; 
    align-items: center;
}

#home-button a {
    display: block;
    color: white;
    text-align: center;
    /* padding: 14px 16px; */
    text-decoration: none;
    display: inline;
}

/* Change the link color to black on hover */
#home-button a:hover {
    background-color: #111;
}

#title-container {
    text-align: center;
    background-color: #333; /* Grey background color */
    color: white;
    width: 300px;
}

h1 {
    margin: 0;
    padding-top: 10px;
    text-align: center;
}

img {
    position: absolute;
    left: -100%;
    margin: 7em -244px;
    animation: slide 5s infinite;
}

@keyframes slide {
    0% {
        left: 0; /* Start from the left */
    }
    100% {
        left: -100%; /* Move to the right */
    }
}
