body {
    background-color:black;
    color: white;
    overflow: hidden;
}

#header {
    background-color: #333;
    color: white;
    padding: 10px;
}

#home-button {
    list-style: none;
    margin-right: 20px;
    display: flex; 
    align-items: center;
}

#home-button a {
    display: block;
    color: white;
    text-align: center;
    /* padding: 14px 16px; */
    text-decoration: none;
    display: inline;
}

/* Change the link color to black on hover */
#home-button a:hover {
    background-color: #111;
}

h1 {
    margin: 0;
    padding-top: 10px;
    text-align: center;
}

.slider {
    width: 100%; /* Full-width container */
    position: relative;
}

.slider img {
    max-width: 100%; /* Set the width of the image */
    height: auto;
    position: absolute;
    top: 0;
    animation: slide 30s linear infinite; /* Adjust the duration as needed */
}

@keyframes slide {
    0% {
        left: 0; /* Start from the left */
    }
    100% {
        left: 100%; /* Move to the right */
    }
}
