nav {
    background-color: #393E46;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    padding-left: 170px;
    padding-right: 160px;
    padding-top: 5px;
}

.header {
    color: #EEEEEE;
    font-family: Trebuchet MS;
    font-size: 32px
}

body {
    background-color: #222831;
    color: #EEEEEE;
    font-family: Courier New;
    padding-top: 40px;
    padding-left: 160px;
    padding-right: 160px;
}

.icon {
    color: #222831;
    font-size: 35px;
}

.btn {
    background-color: transparent;
    border: none;
    color: #00ADB5;
    padding: 8px 8px;
    font-size: 27px;
    cursor: pointer;
    font-family: Trebuchet MS;
}

.btn:hover {
    color: #FFFFFF;
}

#container {
    display: flex;
    padding-top: 100px;
    padding-bottom: 20px;
}

p {
    padding: 10px;
    margin: auto;
}

.slider {
    width: 100%; /* Full-width container */
    position: relative;
}

.slider img {
    max-width: 100%; /* Set the width of the image */
    height: auto;
    position: relative;
    top: 0;
    animation: slide 30s linear infinite; /* Adjust the duration as needed */
}

@keyframes slide {
    0% {
        left: 0; /* Start from the left */
    }
    100% {
        left: 100%; /* Move to the right */
    }
}
